.ba {
    border-style: solid;
    border-width: 1px;
}

.br-100 {
    border-radius: 100%;
}

.dib {
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

.h3 {
    height: 4rem;
}

.w3 {
    width: 4rem;
}

.tc {
    text-align: center;
}

.aitalk {
	float: left;
	clear: right;
}

.usertalk {
	float: right;
	clear: left;
}

.talk-bubble {
	margin: 20px;
	display: inline-block;
    vertical-align: top;
	position: relative;
	max-width: 300px;
	height: auto;
	background-color: black;
}

.border{
	border: 3px solid #666;
}

.round{
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.tri-right.border.left-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

.tri-right.left-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -15px;
	right: auto;
	top: 0px;
	bottom: auto;
	border: 22px solid;
	border-color: lightgray transparent transparent transparent;
}

.tri-right.border.left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -40px;
	right: auto;
	top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

.tri-right.left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -20px;
	right: auto;
	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightgray lightgray transparent transparent;
}

.tri-right.border.btm-left:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: -8px;
	right: auto;
	top: auto;
	bottom: -40px;
	border: 32px solid;
	border-color: transparent transparent transparent #666;
}

.tri-right.btm-left:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 0px;
	right: auto;
	top: auto;
	bottom: -20px;
	border: 22px solid;
	border-color: transparent transparent transparent lightgray;
}

.tri-right.border.btm-left-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 30px;
	right: auto;
	top: auto;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}

.tri-right.btm-left-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 38px;
	right: auto;
	top: auto;
	bottom: -20px;
	border: 12px solid;
	border-color: lightgray transparent transparent lightgray;
}

.tri-right.border.btm-right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 30px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 38px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightgray lightgray transparent transparent;
}

.tri-right.border.btm-right:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -8px;
	bottom: -40px;
	border: 20px solid;
	border-color: #666 #666 transparent transparent;
}

.tri-right.btm-right:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 0px;
	bottom: -20px;
	border: 12px solid;
	border-color: lightgray lightgray transparent transparent;
}

.tri-right.border.right-in:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -40px;
	top: 30px;
	bottom: auto;
	border: 20px solid;
	border-color: #666 transparent transparent #666;
}

.tri-right.right-in:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -20px;
	top: 38px;
	bottom: auto;
	border: 12px solid;
	border-color: lightgray transparent transparent lightgray;
}

.tri-right.border.right-top:before {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -40px;
	top: -8px;
	bottom: auto;
	border: 32px solid;
	border-color: #666 transparent transparent transparent;
}

.tri-right.right-top:after{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: -10px;
	top: 0px;
	bottom: auto;
	border: 20px solid;
	border-color: lightgray transparent transparent transparent;
}

.talktextr{
	padding: 1em;
	word-wrap: break-word;
	text-align: left;
	line-height: 1.5em;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.talktextl{
	padding: 1em;
	word-wrap: break-word;
	text-align: left;
	line-height: 1.5em;
    border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}

.talktextr p{
	  white-space: normal;
   word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 300px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.talktextl p{
	  white-space: normal;
   word-wrap: break-word;
  text-overflow: ellipsis;
  max-width: 300px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

.chat {
	background-image: url("https://media.giphy.com/media/xTiTnxpQ3ghPiB2Hp6/giphy.gif");
}

