/* ---| No helpers used |--- */
/* ---| Cells |--- */
.Bd\(s\,1px\) {border: solid 1px;}
.Bd\(s\,2px\) {border: solid 2px;}
.Bdc\(\#32cd32\) {border-color: #32cd32;}
.Bdrus\(100\%\) {border-radius: 100%;}
.Bdrus\(10px\) {border-radius: 10px;}
.Bdrus\(5px\) {border-radius: 5px;}
.Bg\(black\) {background: rgb(0,0,0);}
.C\(\#32cd32\) {color: #32cd32;}
.D\(b\) {display: block;}
.Ff\(m\) {font-family: monospace;}
.Fl\(l\) {float: left;}
.H\(1000px\) {height: 1000px;}
.M\(a\) {margin: auto;}
.Ta\(c\) {text-align: center;}
.W\(630px\) {width: 630px;}
